@import '../../../../../styles/variables';

.card {
  border: 1px solid $light-gray;
  padding: 15px;
  flex: 1;
  border-radius: $radius-md;
  cursor: pointer;
  transition: height .3s ease-in-out;
  &:not(:last-of-type) {
    margin-right: 20px;
  }
  &.selected {
    border-color: $purple-blue;
    background-color: $alabaster;
  }

  .imgContainer {
    margin-bottom: 50px;
    img {
      width: 55px;
    }
  }

  .title {
    color: $marine-blue;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .price {
    color: $cool-gray;
    font-size: .9rem;
    margin-bottom: 5px;
  }

  .subText {
    color: $marine-blue
  }
}