@import '../../../styles/variables';

.title {
  margin: 10px 0;
  color: $marine-blue
}

.subheading {
  margin-bottom: 50px;
  color: $cool-gray;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.step5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  h1 {
    color: $marine-blue;
  }
  p {
    color: $cool-gray;
  }
}