@import '../../../styles/variables';

.title {
  margin: 10px 0;
  color: $marine-blue
}

.subheading {
  margin-bottom: 50px;
  color: $cool-gray;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 15px
}