@import '../../styles/variables';

.container { 
  background-color: $white;
  border-radius: $radius-sm;
  box-shadow: $shadow;
  width: 1000px;
  height: 80vh;
  padding: 20px;
  display: flex;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 25px 10%;
}

.btnContainer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  &.start {
    justify-content: flex-end;
  }

}