@import '../../../../../styles/variables';

.container {
  .innerContainer {
    border-radius: $radius-md;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .blueBg {
    background-color: $alabaster;

  }
  hr {
    border: .5px solid $light-gray;
  }

  .title {
    color: $marine-blue;
    font-weight: 500;
    text-transform: capitalize;
  }
  .price {
    color: $marine-blue;
  }
  .text {
    color: $cool-gray;
  }
  .change {
    color: $cool-gray;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    &:hover {
      color: $marine-blue;
    }
    
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .addOn {
    font-size: .9rem;

  }
  .totalPrice {
    font-size: 1.2rem;
    color: $purple-blue;
  }
}